<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bs_Blog::helloworld" title="Blog" module="Bs_Blog" sortOrder="51" resource="Magento_Backend::content"/>
        <add id="Bs_Blog::post" title="Posts" module="Bs_Blog" sortOrder="10" action="blog/post/index" resource="Bs_Blog::post" parent="Bs_Blog::helloworld"/>
    </menu>
</config>